@charset "utf-8";
/* CSS Document */

#wrapper{
	position:relative;
	left:10px;
	top:10px;
	width:980px;
	height:550px;
	overflow:hidden;
	display:block;
	z-index:0;
}
#bgcontainer{
	background:url('../images/png/background.png');
	background-color:"#000000";
	width:100%;
	height:100%;
	z-index: -1;
}

/* ROBOTICS CSS DATA */
#robotics{
	opacity:0;
	visibility:hidden;
	position:absolute;
	/*left:403px;
	top:27px;*/
	left:373px;
	top:87px;
	
}
/* ROBOTICS CSS END */



/* CONVEYOR CSS DATA */
#conveyor{
	opacity:0;
	visibility:hidden;
	position:absolute;
	left:65px;
	top:290px;	
}
/* CONVEYOR CSS END */


/* STORAGE EXPORT CSS DATA */
#storagetank{
	opacity:0;
	visibility:hidden;
	position:absolute;
	left:98px;
	top:87px;	
}
#storagetankopen{
	opacity:0;
	visibility:hidden;
	position:absolute;
	left:0px;
	top:0px;
	
}
/* STORAGE EXPORT END */

/* CONTROL CABINET CSS DATA */
#controlcabinet{
	opacity:0;
	visibility:hidden;
	position:absolute;
	left:685px;
	top:275px;
}

#controlcabinetopen{
	opacity:0;
	visibility:hidden;
	position:absolute;
	left:0px;
	top:0px;
}

.ccdoor{
	position:absolute;
	left:-26px;
	top:42px;
}

/* CONTROL CABINET CSS END */



#pageHeadline{
	opacity:0;
	visibility:hidden;
	position:absolute;
	left:30px;
	top:32px;
	width: 661px;
	height: 45px;
	color: #333;
	font-family: "TeX Gyre Adventor";
	font-size: 40px;
	font-weight: 700;
	letter-spacing: 1.6px;
	line-height: 45px;
	pointer-events:none;
	
}

/* APPLICATION HUD  (NEXT PREV CLOSE X) */
#navHUD{
	visibility:hidden;
	opacity:0;
	position:absolute;
	left:0px;
	top:0px;
	display:block;	
}
.btnblue{
	color: #2c577e;
	cursor:pointer;
}

.btnblue:hover{
	color:#1e80d3!important;
}

#btnclosex{
	position:absolute;
	left:923px;
	top:23px;
	width: 45px;
	height: 30px;
	font-family: RS-Icons-Web;
	font-size: 30px;
	font-weight: 400;
	line-height: 30px;
}
#btnnext{
	position:absolute;
	left:921px;
	top:254px;
	width: 45px;
	height: 40px;
	color: #2c577e;
	font-family: RS-Icons-Web;
	font-size: 40px;
	font-weight: 400;
	line-height: 40px;
}
#btnprev{
	position:absolute;
	left:19px;
	top:254px;
	width: 45px;
	height: 40px;
	color: #2c577e;
	font-family: RS-Icons-Web;
	font-size: 40px;
	font-weight: 400;
	line-height: 40px;
}




/* APPLICATION HUD END */

/* SPLASHSCREEN CSS DATA */
#splashscreen{
	opacity:0;
	visibility:hidden;
	position:absolute;
	top:124px;
	left:200px;
	width: 580px;
	height: 271px;
	background-color: rgba(255,255,255,0.9);
}
.splashtitle{
	position:relative;
	top:32px;
	
	width: 580px;
	height: 110px;
	color: #333;
	font-family: "TeX Gyre Adventor";
	text-rendering: optimizeLegibility !important;
  	-webkit-font-smoothing: antialiased !important;
  	-moz-osx-font-smoothing: grayscale;
	font-size: 50px;
	font-weight: 700;
	letter-spacing: 2.5px;
	line-height: 55px;
	text-align: center;
}

.splashsubtitle{
	/* Text style for "explore and fi" */
	position:relative;
	padding-top:36px;
	
	width: 580px;
	height: 55px;
	color: #333;
	font-family: "TeX Gyre Adventor";
	text-rendering: optimizeLegibility !important;
  	-webkit-font-smoothing: antialiased !important;
  	-moz-osx-font-smoothing: grayscale;
	font-size: 25px;
	letter-spacing: 1.25px;
	line-height: 55px;
	text-align:center;
}

/* SPLASHSCREEN CSS END */

/* DETAIL INFO WINDOW */
#detailInfoWindow{
	opacity:0;
	visibility:hidden;
	position:absolute;
	left:600px;
	top:250px;
	
}
.detailInfo{
	margin-left:13px;
	width: 278px;
	height: 80px;
	background-color: rgba(255,255,255,0.9);
	cursor:pointer;
	line-height:80px;
	
}
.detailInfo:hover{
	background-color: #1e80d3;
	color:#fff;
}
.detailInfoIcon{
	display:inline-block;
	float:left;
	width:70px;
	height:auto;
	vertical-align:middle;
	padding-left:5px;
	padding-top:5px;
	
}
.detarrow_left{
	display:block;
	position:absolute;
	left:0px;
	top:0px;
	width:13px;
	height:26px;
	background:url(../images/png/arrow_left_white.png) left center no-repeat;
}

.detailTitle{
 	display:inline-table;
	padding-left:5px;
	float:none;
	max-width:160px;
	font-family: Arial;
	font-size: 14px;
	font-weight: 700;
	line-height:normal;
	vertical-align: middle;

}
.smarrow_right{
	display:inline-table;
	float:right;
	margin-right:10px;
	margin-top:33px;
}


/* INFO WINDOW */
#infoWindow{
	opacity:0;
	visibility:0;
	position:absolute;
	left:566px;
	top:163px;
	text-align:	center;
}


.arrow_left{
	display:block;
	position:absolute;
	width:13px;
	height:100%;
	background:url(../images/png/arrow_left_white.png) left center no-repeat;
	
	
}
.detarrow_right, .arrow_right{
	display:none;
	position:absolute;
	float:right;
	top:0px;
	right:0px;
	margin-right:-13px;
	width:13px;
	height:100%;
	background:url(../images/png/arrow_right_white.png) left center no-repeat;
	
	
}
.infoWindowBG{
	background-color:rgba(255,255,255,0.95);
	width:300px;
	height:130px;
	margin-left:12px;
	
}
.infoTitle{
	position:relative;
	top:33px;
	width: 300px;
	height: 45px;
	color: #333;
	font-family: "TeX Gyre Adventor";
	font-size: 25px;
	font-weight: 700;
	letter-spacing: 1px;
	line-height: 34px;	
	margin:auto;
}



/* INFO WINDOW BUTTONS */
.button-blue{
	background-color: #2c577e;
	border:none;
	border-radius: 5px;
	text-align:center;
	/* Text style for "Go" */
	color: white;
	font-family: Arial;
	text-rendering: optimizeLegibility !important;
  	-webkit-font-smoothing: antialiased !important;
  	-moz-osx-font-smoothing: grayscale;
	font-size: 14px;
	font-weight: 700;
	line-height: 16px;

}

.button-blue:hover{
	background-color: #1e80d3;
}


.button-red{
	/* Style for "Rectangle 1 Co" */
	background-color: #d00000;
	border:none;
	border-radius: 5px;
	text-align:center;
	/* Text style for "Go" */
	color: white;
	font-family: Arial;
	text-rendering: optimizeLegibility !important;
  	-webkit-font-smoothing: antialiased !important;
  	-moz-osx-font-smoothing: grayscale;
	font-size: 14px;
	font-weight: 700;
	line-height: 16px;
	cursor:pointer;
}

.button-red:hover{
	background-color: #670a15;
}

#btnGo{
	position:absolute;
	top:248px;
	left:215px;
	width: 150px;
	height: 45px;
	cursor:pointer;
}
#btnSelect{
	position:absolute;
	top:107px;
	left:71px;
	width: 184px;
	height: 45px;
	cursor:pointer;
}

/* END INFOWINDOW BUTTONS*/



/* RIGHT SIDE BAR */
#btnInfo{
	visibility:hidden;
	opacity:0;
	position:absolute;
	width:52px;
	height:52px;
	right:34px;
	top:38px;
	background:url(../images/png/btninfo.png);
	background-position:left top;
	cursor:pointer;
	
}
#sidebarRight{
	position:absolute;
	top:0;
	right:-500px;
	width: 500px;
	height: 550px;
	background-color: rgba(255,255,255,0.85);
}
.sidebartitle{
	/* Text style for "Our service, Y" */
	position:absolute;
	top:38px;
	left:42px;
	
	width: 500px;
	height: 45px;
	color: #333;
	font-family: "TeX Gyre Adventor";
	text-rendering: optimizeLegibility !important;
  	-webkit-font-smoothing: antialiased !important;
  	-moz-osx-font-smoothing: grayscale;
	font-size: 25px;
	font-weight: 700;
	letter-spacing: 1px;
	line-height: 45px;	
	
}

.sidebarlist{
	position:absolute;
	top:122px;
	left:44px;
	width: 389px;
	height: 360px;
	color: #333;
	font-family: Arial;
	font-size: 14px;
	font-weight: 400;
	line-height:20px;
}
.sidebarlist li{
	background:url(../images/png/sidebar_check.png)	left 2px no-repeat;
	padding-left:30px;
	padding-bottom:25px;
}

/* RIGHT SIDE BAR END */


/* BOTTOM MENU */
#bottommenu{
	position:absolute;
	top:550px;/*550px;*//*505px;*/
	left:0px;
	width:980px;
	height:45px;
	display:block;
	text-align:left;
	
	
	
}


.botmenu {
	width: 245px;
	height: 45px;
	background-color: #d00000;
	color: white;
	font-family: Arial;
	border-right:solid 1px #ffffff;
	text-rendering: optimizeLegibility !important;
  	-webkit-font-smoothing: antialiased !important;
  	-moz-osx-font-smoothing: grayscale;
	font-size: 14px;
	font-weight: 700;
	line-height: 16px;
	padding-top:15px;
	display:inline-block;
	margin:0;
	cursor:pointer;
	text-indent:22px;
}
.botmenu:hover{
  background-color: #670a15;
}
.botclose:hover{
	background-color: #670a15;
}
.botclose{
	display:none;
	position:absolute;
	left:0px;
	top:0px;
	width: 244px;
	height: 45px;
	background-color: #670a15;
	color: white;
	font-family: Arial;
	border-right:solid 1px #ffffff;
	text-rendering: optimizeLegibility !important;
  	-webkit-font-smoothing: antialiased !important;
  	-moz-osx-font-smoothing: grayscale;
	font-size: 14px;
	font-weight: 700;
	line-height: 16px;
	padding-top:15px;
	cursor:pointer;
	text-indent:22px;
}
.botsubsmclosex{
	display:inline-table;
	float:right;
	margin-right:10px;
	margin-top:0px;
}


#btnbot2, #btnbot3, #btnbot4{
  margin-left:-4px;	
}
/* BOTTOM MENU END*/

/* BOTTOM SUB MENU */
.botsubmenu{
	position:absolute;
	top:550px;/*550px;*//*505px;*/
	left:0px;
	width:253px;
	height:405px;
	display:block;
	overflow:auto;
	overflow-x:hidden;
	text-align:left;
}


.botsubbg{
	width: 245px;
	height: 45px;
	background-color: rgba(255,255,255,0.9);
	cursor:pointer;
	line-height:43px;
}
.botsubbg:hover{
	background-color: #1e80d3;
	color:#fff;
}


.botsubbgrspro{
	width: 245px;
	height: 134px;
	background-color: rgba(255,255,255,0.9);
	cursor:pointer;
	line-height:43px;
	border-bottom:solid 1px #ffffff;
}
.botsubbgrspro:hover{
	background-color: #d00000;
	color:#fff;
}


.logorspro{
	display:inline-block;
	width:40px;
	height:50px;
	background:url(../images/png/rs_pro_logo.png) no-repeat;
	background-size:40px 50px;
	background-position:20px 20px;
	padding-left:20px;
	padding-top:20px;
	
}

.botsubtitelrspro{
	display:inline-block;
	margin-top:-15px;
	padding-left:15px;
	float:none;
	max-width:130px;
	font-family: Arial;
	font-size: 14px;
	font-weight: 400;
	line-height:20px;
	vertical-align: middle;	
}

.botsubsmarrow_rightrspro{
	display:inline-table;
	float:right;
	margin-right:10px;
	margin-top:61px;
}





.botsubtitel{
	display:inline-table;
	padding-left:15px;
	float:none;
	max-width:160px;
	font-family: Arial;
	font-size: 14px;
	font-weight: 700;
	line-height:normal;
	vertical-align: middle;	
}

.botsubsmarrow_right{
	display:inline-table;
	float:right;
	margin-right:10px;
	margin-top:15px;
}

/* BOTTOM SUB MENU END */




/* HOTSPOTS CSS AND ANIMATION */
/* HS POSITION */

#hsStorageTank{
 visibility:hidden;
 opacity:0;
 position:absolute;
 top:154px;
 left:247px;
 /*cursor:pointer;*/
}

#hsRobotics{
 visibility:hidden;
 opacity:0;
 position:absolute;
 top:247px;
 left:543px;
 /*cursor:pointer;*/
}

#hsConveyor{
 visibility:hidden;
 opacity:0;
 position:absolute;
 top:390px;
 left:311px;
 /*cursor:pointer;*/
}

#hsControlCabinet{
 visibility:hidden;
 opacity:0;
 position:absolute;
 top:407px;
 left:777px;
 /*cursor:pointer;*/
}



/* HS ANIMATION */

.hscircle {
    position: relative;
    top:-5px; 
    left:-7px;
    border-radius: 50%;
    width: 10px;
    height: 10px; 
    border: 1px solid #217aff;
    background-color: none;
    animation: leaves 2.5s linear infinite forwards;
    tranform: translateZ(0);
    -webkit-animation: leaves 2.5s linear infinite forwards;
	-webkit-tranform: translateZ(0);
	filter: none; 
	-webkit-filter: blur(0px); 
	-moz-filter: blur(0px); 
	-ms-filter: blur(0px);
	filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='0');
}

@keyframes leaves {
   
    
    0%  { transform:scale(0.1,0.1); opacity:0;}
    40% {transform:scale(2,2); opacity:1;}
	100%  { transform:scale(4,4);opacity:0;}
    

}

@-webkit-keyframes leaves {
 0%  { -webkit-transform:scale3d(0.1,0.1,0.1);opacity:0;}
	 40% {-webkit-transform:scale3d(2,2,2); opacity:1;}
    100%  { -webkit-transform:scale3d(4,4,4);opacity:0;}
    
}


/* Overwrite the default to keep the scrollbar always visible */

::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}

::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0,0,0,.5);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}
